h1 {
    color: hsl(177, 100%, 50%);
text-align: center;
}

p {

font-family: cursive;
    font-size: medium
}

h2 {
color: rgb(0, 139, 139);
}

body {
background-color: deepskyblue;
}

.styleli {
    color: crimson;
    font-weight: 300;
    font-size: 18px;
}

.styledil {
    color: rgb(43, 255, 0);
}

.styledul {
    color: blueviolet;
}

.my-button {
    background-color: rgb(255, 7, 160);
    color: rgb(0, 98, 211);
    padding: 10px 20px;
    border: none;
    cursor: pointer;}

    .images {
        width: 300px;
        height: auto;
    }

    .gradiant{
        background: linear-gradient(to right, rgb(255, 4, 213), rgb(30, 255, 0),aqua);
    }


