h1 {
    color: hsl(0, 100%, 50%);
text-align: center;
}

p {

font-family: cursive;
    font-size: medium
}

h2 {
color: rgb(0, 139, 139);
}

body {
background-color: deepskyblue;
}

.styleli {
    color: crimson;
    font-weight: 300;
    font-size: 18px;
}

.styledil {
    color: rgb(43, 255, 0);
}

.styledul {
    color: blueviolet;
}

.my-button {
    background-color: rgb(255, 7, 7);
    color: rgb(0, 98, 211);
    padding: 10px 20px;
    border: none;
    cursor: pointer;}

    .images {
        width: 500px;
        height: 250px;
    }

    .gradiant{
        background: linear-gradient(to right, rgb(255, 4, 213), rgb(30, 255, 0),aqua);
    }


.photobox {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    margin: 0 auto;
}
.box {
    border: 1px solid red;
    padding: 20px;
    margin: 10px 0;
    background-color: darkblue;
    border-radius: 8px;
}